<!doctype html>
<html lang="fr">
  <head>

    <title>Blog Plantes</title>
    <link rel="stylesheet" type="text/css" href="assets/css/blogPlantes.css">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@600&family=Ubuntu&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="content">
      <header>
        <h1>{{ pageTitle }}</h1>
      </header>
      <section>
        <p> Bienvenue sur mon blog ! <br/> Il est consacré à réunir quelques connaissances personnelles sur les <b>plantes</b> ... <br/> Sauvages comestibles, médicinales, aromatiques de toutes branches, je vais classer ici un maximum de renseignements et de liens utiles pour faciliter la reconnaissance et l'utilisation des plantes que l'on rencontre dans notre beau département de l'Aude. <br/> Et comme il est difficile de parler du monde végétal sans inclure les arbres, je joindrais quelques clés pour aider à la reconnaissances des principales espèces de notre territoire.</p>
        <h3><b>Avant de commencer ...</b></h3>
        <p><strong><span class="danger">Attention :</span> gardez toujours à l'esprit que les plantes, comme les champignons, peuvent être extrèmement toxiques. Il est donc indispensable d'être absolument certain de l'identification exacte de l'espèce avant toute consommation.</strong></p>
              <!-- liens utiles -->
      	<div>
          <p><em>Pour vous aider, voici quelques liens utiles à utiliser sans modération :</em></p>
          <ul>
            <li><a href="https://www.tela-botanica.org" target="_blank"> tela botanica </a></li>
            <li><a href="https://www.facebook.com/groups/644731918916018/" target="blank"> quelle est cette plante ?</a></li>
            <li><a href="https://plantnet.org" target="_blank"> plantnet pour mobile</a></li>
          </ul>
        </div>
      </section>
      <hr>
      <section>
        {{ content }}
      </section>
    </div>
  </body>
</html>
